* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background: #f6f6f6;
      }


      .container {
        width: 100%;
       
        min-height: 100vh;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 50px;
        gap: 50px;
    

      }

      .review-content {
        padding: 20px;
      }

      .star {
        display: flex;
        background: #F5C044;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
       

      }

      ul {
        list-style: none;
        padding: 10px 0;
        
      }

      li {
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 1.8;
      }

      .review {
        max-width: 400px;
        width: 100%;
        margin: 10px 0;
        line-height: 1.5;
      }


      .card {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0  5px 5px rgba(0, 0, 0, 0.1);
        width: 70%;
        max-width: 400px;
      }

      .header-img {
        display: flex;
        align-items: center;
        gap: 20px;
      }


      .logo {
        width: 100px;
      }

      .review-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

     .review-cards .card:nth-of-type(odd)
     {
        align-self: flex-end;
     }

     .name {
        font-size: 18px;
        margin-bottom: 10px;
     }

     .user p {
        color: #333;
        line-height: 1.5;
        max-width: 300px; 
     }

      .author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
      }

      .author-info a {
        text-decoration: none;
      }

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    padding: 24px;
    gap: 24px;
  }

  .card {
    width: 100%;
    align-self: stretch; /* turns off zig-zag on mobile */
  }

  .review {
    max-width: 100%;
  }
}
